<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joseph Vuong</title>
</head>

<body>
    <h1 style="color: blue;">Hello world with Joseph from view</h1>
    <p>
        <%=data%>
    </p>
</body>

</html>